.popup {
  display: flex;
  position: fixed;
  top: 0;
left: 0;
height: 100%;
width: 100%;
align-items: center;
background: rgba(0, 0, 0, 0.5);
z-index: 1;
/*display: none;*/

}
@media (max-width: 905px) {
  .popup {
    
  }
}