.popup__save_text {
  margin: 0 auto;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;


color: #FFFFFF;
margin-top: 14px;
margin-bottom: 18px;
}
@media (max-width: 905px) {
  .popup__save_text {
    font-size: 14px;
line-height: 17px;
  }
}
