.element__like {
  padding: 0;
  width: 22px;
  height: 19px;
  margin-top: 5px;
  margin-right: 5px;
  background-image: url(/images/element__like-none.png);
background-color: transparent;
background-size: cover;
cursor: pointer;
border: none;

}
.element__like:hover {
  opacity: 0.6;
}